@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
}
h1 {
  color: #e74c3c;
}
.card {
    background: #fff;
  }
  .card-img-top {
    height: 200px;
  }
  .card-title {
    color: #222;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;
  }
  .card-link {
    text-decoration: none;
    background: #db4938;
    color: #fff;
  }